header {
  padding-top: 4rem;
}

header::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--border-menu-mobile);
  top: 10rem;
  opacity: 0.3;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-desktop {
  display: none;
}

.button.nav {
  display: none;
}

.menu, 
.close-menu, 
body.menu-active .open-menu {
  display: none;
}

body.menu-active .menu,
body.menu-active .close-menu {
  display: initial;
}

body.menu-active .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--backgrond);
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

body.menu-active .logo-mobile,
body.menu-active .close-menu {
  position: relative;
  z-index: 10;
}

.menu {
  margin-top: 10rem;
}

.menu li{
  border-block: 1px solid var(--border-menu-mobile);
  padding: 1.6rem 2.5rem;
}

.menu li a {
  color: var(--border-menu-mobile);
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;
}

.menu li:hover {
  border-left: 5px solid var(--button);

  a{
    color: var(--text-color-menu-mobile);
  }
}

@media (min-width:900px) {
  header {
    padding-top: 5rem;
  }

  header::after,
  .logo-mobile,
  .open-menu,
  .close-menu {
    display: none;
  }

  .logo-desktop {
    display: block;
  }

  .button.nav {
    display: flex;
    margin: 0;
    width: unset;
  }

  .menu {
    margin-top: initial;
    display: flex;
  }

  .menu li {
    border: none;
  }

  .menu li a {
    font-size: 1.4rem;
    line-height: 1.9rem;
  }

  .menu li:hover {
    border-left: unset;
    border-bottom: 3px solid var(--button);
    width: fit-content;
  }
  

}
